.idea/
.vscode/
desktop.ini

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/

*.bak
*.mdf
*.ldf

SematecLMS/build/
SematecLMS/dist/
SematecLMS/GeneratedCertificates/
SematecLMS/SematecLearningManagementSystem
